DATABASE_URL="file:./dev.db"
AUTH_SECRET="9usv0w7cp54lcKLo4srGbLIPja7UBeTCyKiI9VH5E+VTCyKiI9VH5E+VTCyKiI9VH5E"
VITE_API_URL="https://nextdrivertesteapi.fly.dev/"
# VITE_API_URL=
EXPO_PUBLIC_API_URL="https://nextdrivertesteapi.fly.dev/"